
#title-slide {
  top: 200 !important;
}
#title-slide {
  top: 200 !important;
}

h1 {
  font-size: 24px;
}

//#title-slide > .author:first-of-type {
//  margin-top: 320px;
//}

.fs-10px {
	font-size: 10px;
}

.small {
  font-size: 0.75em;
}

.reveal .slide {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 1em;
  background: #E8E8E8;
  r-heading-font-weight: 100;
}

.reveal .slide .title {
  font-size: 30px !important;
}
.reveal .title {
  font-size: 60px !important;
}

.reveal .author {
  font-size: 120px;
  color: blue;
}

.reveal .date {
  font-size: 80px;
  color: green;
}

.centered p {
  text-align: center;
}